<!DOCTYPE html>
{% load static %}
<html lang="es">

<head>
<title>{% block title %} Administracion {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'admin/images/favicon.png' %}">
    <link href="{% static 'admin/plugins/pg-calendar/css/pignose.calendar.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'admin/plugins/chartist/css/chartist.min.css' %}">
    <link rel="stylesheet" href="{% static 'admin/plugins/chartist-plugin-tooltips/css/chartist-plugin-tooltip.css' %}">
    <link href="{% static 'admin/css/style.css' %}" rel="stylesheet">
{% block estilo %}
{% endblock estilo %}
<script src="{% static 'admin/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'admin/js/custom.min.js' %}"></script>
    <script src="{% static 'admin/js/settings.js' %}"></script>
    <script src="{% static 'admin/js/gleek.js' %}"></script>
    <script src="{% static 'admin/js/styleSwitcher.js' %}"></script>
    <script src="{% static 'admin/plugins/chart.js/Chart.bundle.min.js' %}"></script>
    <script src="{% static 'admin/plugins/circle-progress/circle-progress.min.js' %}"></script>
    <script src="{% static 'admin/plugins/d3v3/index.js' %}"></script>
    <script src="{% static 'admin/plugins/topojson/topojson.min.js' %}"></script>
    <script src="{% static 'admin/plugins/datamaps/datamaps.world.min.js' %}"></script>
    <script src="{% static 'admin/plugins/raphael/raphael.min.js' %}"></script>
    <script src="{% static 'admin/plugins/morris/morris.min.js' %}"></script>
    <script src="{% static 'admin/plugins/moment/moment.min.js' %}"></script>
    <script src="{% static 'admin/plugins/pg-calendar/js/pignose.calendar.min.js' %}"></script>
    <script src="{% static 'admin/plugins/chartist/js/chartist.min.js' %}"></script>
    <script src="{% static 'admin/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js' %}"></script>
    <script src="{% static 'admin/js/dashboard-1.js' %}"></script>
{% block js %}
{% endblock js %}
{% block head%}
{% endblock head %}
</head>

<body>
{% include "admin/nav.html" %}
{% block body %}
    {% block profile %}
    
    {% endblock profile %}
    {% block header %}
    
        {% block content %}
        
        {% endblock content %}
        {% block contenido1 %}
        
        {% endblock contenido1 %}
        {% block nav %}
        {% endblock nav %}
        {% include "admin/nav.html" %}

        {% block contenido2 %}

        {% endblock contenido2 %}
        {% block footer %}
        
        {% endblock footer %}

{% endblock header %}
{% endblock body %} 
</body>

</html>